<p>
  <mat-toolbar class="whitespace-normal gap-3 bg-slate-400 menu">
    <span class="menu-item">
      <mat-icon class="material-symbols-outlined">home</mat-icon>
      Home
    </span>
    <span class="menu-item">
      <mat-icon>footprint</mat-icon>
      Excursiones
    </span>
    <span class="menu-item">
      <mat-icon>hiking</mat-icon>
      Paquetes
    </span>
    <span class="menu-item">
      <mat-icon>shop</mat-icon>
      Carrito
    </span>
    <span class="menu-item">
      <mat-icon>person</mat-icon>
      Mi cuenta
    </span>
  </mat-toolbar>
</p>
